PAY_UI_PASSWORD=your_password_here
PAY_UI_SESSION_TTL=1800

LNDK_GRPC_HOST=https://YOUR_NODE_IP
LNDK_GRPC_PORT=7000
LNDK_TIMEOUT_SECONDS=30

LND_REST_URL=https://YOUR_NODE_IP:8080
LND_REST_INSECURE=false

PUBLIC_LNURL_ADDRESS=lnurl@yourdomain.com
LNURL_BASE_DOMAIN=yourdomain.com
LNURL_BASE_URL=https://yourdomain.com

LNURL_MIN_SENDABLE_MSAT=1000
LNURL_MAX_SENDABLE_MSAT=1000000000
LNURL_COMMENT_ALLOWED=120
LNURL_ALIAS_MODE=shared
LNURL_SHARED_DESCRIPTION=LNURL payment
LNURL_DEFAULT_DESCRIPTION=Lightning payment

CF_API_TOKEN=
CF_ZONE_ID=
CF_ZONE_NAME=
